/*
*Developed and Maintaining by:Siddharth Singh, v 01.00
*Detail:use of this script as commercial use is not allowed
*Author URI: http://fileworld.in/
*Email:siddharthsingh91@gmail.com
*/
body{background-color: #FFFFFF;}
.no_margin{margin:0;}
.no_padding{padding:0;}
.social{ width:200px; float:right; margin-top:10px;}
.social li{ list-style:none; float:left; margin-left:10px;}

/****Custom CSS******/
.navbar-nav{ margin-top:4px;}
.margin-zero{margin:0px;}
.padding-zero{padding:0px;}
.navbar{ border-bottom:#B4B4B4 1px solid; box-shadow:#000000 0px 0px 4px 1px;}
.title{color:#66ABDD; text-align:center;}
.title-blog{color:#66ABDD;}
/************************
****Working On Footer****
*************************/
.footer-background{background-color:#66ABDD; border-top:#C6C6C6 1px solid;}
.copyright{ width:200px; margin-left:auto; margin-right:auto; padding:20px 0px;}


/************************
****working on logo******
************************/
.navbar-brand{ padding-top:0px;}
.theme-showcase{ margin-top:160px;}


/******************************
****css for comment section****
*******************************/


 @media (max-width: 980px) {
.triangle {
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 5;
	height: 5;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #0C3C60;
	z-index: 0;
}
}
